<div class="container">
    <div class="row">
        <div class="m-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <br>
            <h3>CENTRO PSICOLOGICO VITALMENTE</h3> <br>
            <h5><b>Teléfono: 618 714 469</b></h5>
            <p class="lead">
                Si lo desea, puede ponerse en contacto por teléfono o rellenando nuestro formulario de contacto para solicitar cita previa o recibir información.
            </p>
            <form class="lead">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Nombre (Requerido)</label>
                  <input type="text" id="form4Example1" class="form-control" />
                  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Correo</label>
                  <input type="email" id="form4Example2" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example4">Asunto</label>
                  <input type="text" id="form4Example4" class="form-control" />
                  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Mensaje</label>
                  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                  
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Enviar</button> <br>
                <label><input type="checkbox"  aria-invalid="false"><span class="wpcf7-list-item-label"> Acepto las <a style="text-decoration:underline" href="https://www.vitalzheimer.com/politica-privacidad/">condiciones de privacidad.</a></span></label>
              </form>
              <br>
        </div>
        <div class="text-center m-auto col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <img src="../../../assets/img/centro2.jpg" class="img-fluid" alt="">
            <br><br>
        </div>   
    </div>
</div>
